body {
    font-family: Arial, sans-serif;
    background: linear-gradient(to right, #141e30, #c33764);
    height: 100vh;
    margin: 0;

    display: flex;
    justify-content: center;
    align-items: center;
}

.box {
    background: white;
    padding: 30px;
    border-radius: 12px;
    width: 350px;
    text-align: center;
    box-shadow: 0px 0px 15px black;
}

.success {
    color: green;
}

.fail {
    color: red;
}